:root {
  --primary-color: #2f14c9;
  --primary-color-light: #452dcc;
  --secondary-color: #eee8e2;
  --highlight-primary: #c00303;
  --highlight-secondary: #ffe600;
  --white: #fcfcfc;
  --black: #191919;
  --muted: #A9A9A9;
  --link-color: #a07150;
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
}

main {
  margin-top: 40px;
}

a {
  text-decoration: none;
  color: var(--link-color);
}

a:visited {
  color: var(--link-color)
}


button {
  background-color: var(--highlight-primary);
  border: none;
  color: var(--white);
  margin: .25em;
  padding: .5em 1.5em;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-selected {
  background-color: var(--primary-color);
}


