:root {
  --primary-color: #2f14c9;
  --primary-color-light: #6e5dd1;
  --primary-color-pastel: #8878dd;
  --secondary-color: #eee8e2;
  --highlight-primary: #c00303;
  --highlight-primary-pastel: #f0b2b2;
  --highlight-secondary: #ffe600;
  --white: #fcfcfc;
  --black: #191919;
  --muted: #A9A9A9;
  --link-color: #a07150;
  --link-color-hover: #72513a;
}

.App {
  width: 100vw;
  height: 100vh;
}

body {
  background-color: var(--white);
}

button {
  background-color: var(--highlight-primary);
  border: none;
  color: var(--white);
  margin: .25em;
  padding: .5em 1em;
  font-size: 0.8em;
  font-weight: bold;
  transition: background-color 0.3s;
}

.button-selected {
  background-color: var(--primary-color);
}

.xl-only {
  display: none;
}

/* mobile, 320-480px */

/* tablets, 481-768px */
@media screen and (min-width: 481px) {

}

/* small screens, laptops, 769-1024px */
@media screen and (min-width: 769px) {

}

/* desktops, large screens, 1025-1200px */
@media screen and (min-width: 1025px) {

}

/* extra large screens, TVs, 1201+px */
@media screen and (min-width: 1201px) {
  .xl-only {
    display: grid;
  }
}

