/* Fonts */

body { 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Responsive text resizing */

/* small mobile, 320-380px */
html {
  font-size: 12px;
}

/* mobile, 380-480px */
@media screen and (min-width: 481px) {
  html {
    font-size: 14px;
  }
}

/* tablets, 481-768px */
@media screen and (min-width: 481px) {
  html {
    font-size: 16px;
  }
}

/* small screens, laptops, 769-1024px */
@media screen and (min-width: 769px) {
  html {
    font-size: 18px;
  }
}

/* desktops, large screens, 1025-1200px */
@media screen and (min-width: 1025px) {
  html {
    font-size: 20px;
  }
}

/* extra large screens, TVs, 1201+px */
@media screen and (min-width: 1201px) {
  html {
    font-size: 22px;
  }
}

/* Anchor Tags */

a {
  text-decoration: none;
  color: var(--link-color);
  transition: color 0.5s;
}

a:visited {
  color: var(--link-color)
}

a:hover {
  color: var(--link-color-hover)
}

/* Headers */

h1 h2 h3 h4 h5 {
  margin: 1em 0em 3em 0em;
}

h1 {
  font-size: 4em;
  line-height: 1.3em;
  margin: 0.3em 0em;
}

h2 {
  display: inline-block;
  letter-spacing: 0.4em;
  margin-bottom: 0.25em;
  font-size: 1.5em;
  border-top: 0.2em solid var(--primary-color);
}

h3 {
  font-size: 1.25em;
  line-height: 1em;
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}

h4 {
  font-size: 1em;
}

.subtitle {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 1em;
  font-weight: normal;
  color: var(--muted);
  overflow-wrap: normal;
}


p {
  font-size: 1em;
  line-height: 1.3em;
}


.large-text {
  font-size: 1.5em;
  line-height: 1.5em;
}