.icon-list-component {
  padding: .15em;
  margin: 0em 0em;
  list-style: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-around;
  border-bottom: 0.35em solid var(--primary-color);
}

.icon-list-component li {
  display: flex;
}

.icon-list-component li img {
  width: 2.5em;
  padding: 0.5em 0em;
  
}

.icon-list-component span {
  align-content: center;
  margin: 0em 0.5em;
}