.nav {
  background-color: var(--primary-color);
  display: flex;
  height: 2em;
  padding: 1em 2em 1em 2em;
  position: fixed;
  top: 0;
  width: 100%;
}


.nav a {
  font-size: larger;
  font-weight: bold;
  transition: background-color 0.25s;
  padding: 1em;
}

.nav a:hover {
  background-color: var(--secondary-color);
}

.active {
  background-color: var(--primary-color-light);
}

.navLeftSide {
  align-items: center;
  display: flex;
  flex: 35%;
  justify-content: left;
}

.navRightSide {
  align-items: center;
  display: flex;
  flex: 65%;
  justify-content: flex-end;
  padding-right: 4em;
}

.navRightSide button {
  display: none;
}

@media only screen and (max-width: 600px) {
  .navRightSide button {
    display: flex;
  }

  .navRightSide .linkList {
    display: none;
  }

  .navRightSide #navPopupMenu {
    align-items: center;
    background-color: var(--secondary-color);
    display: flex;
    flex-direction: column;
    height: auto;
    left: 0px;
    padding: 1em;
    position: absolute;
    top: 4em;
    width: 100%;
  }

  #navPopupMenu a {
    background-color: var(--secondary-color);
  }
}