.split-card-grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  column-gap: 1em;
  margin-bottom: 1.5em;
  padding-bottom: 0.5em;
}

.split-card-grid-container h2 {
  margin-top: 0em;
}

.rtl {
  direction: rtl;
}

.split-card-grid-container div {
  display: inline-block;
}

.split-card-img {
  width: 100%;
}

@media screen and (max-width: 640px) {
  .split-card-grid-container {
    grid-template-columns: 3fr 1fr;
  }
}