.grid-container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  grid-column-gap: 1em;
}


@media only screen and (max-width: 768px) {
  main{
    align-items: center;
  }
  .grid-container {
    grid-template-columns: 1fr;
  }
}